$body-color: #AADAE3;

//@import 'local_cdn/primer-css/scss/primer';
@import 'local_cdn/jquery-ui.min';
@import 'local_cdn/sportz/style';
@import 'local_cdn/slider';
//@import 'modules/advertisement';
//@import 'modules/emblems';
//@import 'modules/table';
@import 'modules/tiles';
//@import 'modules/typo';
//@import 'modules/header';
//@import 'modules/layout';
//@import 'modules/random';
//@import 'modules/navigation';
@import 'modules/checkbox';
@import 'modules/home-page';
@import 'modules/flags';
@import 'local_cdn/icomoon';

#date-countdown {
  font-size: 0.7rem;

  @include media-breakpoint-up(sm) {
    font-size: 1.1rem;
  }
}

@each $color, $value in $colors {
  .#{$color} { color: #{$value} }
}

.field_with_errors {
  textarea, input {
    border-color: red;
  }

  .field_with_errors {
    display: inline;
  }
}
